@import "custom";

@import "bootstrap";

@import "mixin";

@import "reset";

@import "fonts";

@import "default-clases";

@import "layout";

@import "home";

// @import "media";
.breadcrumb {
	margin-bottom: 0px; 
}

.list-perforator {
	height: 90px;
	background-color: f2f6f8;
}
