// стандартный размер шрифта
$generalFontSize: 10px;

// стандартный  шрифта
$generalFont: "roboto";

// цвет фона
$generalOrangBg: #f6b22d;
$generalBlueBg: #4aafde;
$generalPinkBg: #cc79d1;
$generalRedBg: #ee3643;
$generalGreenBg: #85d179;
// цвет текста
// цвета бордеров
// размеры стандартные
// радиусы
