%btn{
	background: #ee3643;
	font-size: 14px;
	color: #fff;
	text-align: center;
	font-family: 'cuprumregular';
	text-transform: uppercase;
		&:hover{
			background: #ca2c37;
		}
		&:active{
			background: #ba2732;
		}
}

.btn-lg{
	@extend %btn;
	width: 254px;
	height: 38px;
}
.btn-sm{
	@extend %btn;
	width: 220px;
	height: 41px;
}
.abtn{
	color: #fff;
}
input[type="text"]{
	background: transparent;
	font-size: 17px;
	color: #fff;
	height: 43px;
	width: 285px;	
}

// clases for bg
.orange-bg{
	background: $generalOrangBg !important;
}

.blue-bg{
	background: $generalBlueBg !important;
}

.pink-bg{
	background: $generalPinkBg !important;
}

.green-bg{
	background: $generalGreenBg !important;
}

// before standart style
%beforeStandartStyle{
	content: "";
	display: inline-block;
}

// класс для віравнивани любого блока по вертикали
.vertical-align {
  &:before {
    display: inline-block;
    content: '';
    height: 100%;
    vertical-align: middle;
    margin-left:-5px;
  }
  & > *{
    display: inline-block;
    vertical-align: middle;
  }
}

.new-category{
	@include size(80px, 20px);
	background: $generalRedBg;
	color: #fff;
	font-size: 1.6em;
	position: absolute;
	top: 9px;
	right: -19px;
	text-align: center;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
//заголовок
h3{
	font-size: 30px;
	color: #32425c;
	font-family: 'cuprumregular';
	text-transform: uppercase;
	float: left;
}
h4{
	font-size: 30px;
	color: #000;
	font-family: 'cuprumregular';
	text-transform: uppercase;
	margin-bottom: 37px;
}
h5{
	font-size: 36px;
	color: #32425c;
	font-family: 'cuprumregular';
	text-transform: uppercase;
	margin-bottom: 33px;
}
//параграфы
.service-style{
	font-size: 13px;
	color: #000;
	font-family: 'open_sanslight';

}
//фон заголовка
.title-bg{
	height: 89px;
	background: #f7f3ec;
	padding: 35px 15px 35px 30px;
	margin: 22px 0 21px 0;
}