// header
.topbar-wrapper{
	height: 43px;
	background: #293449;
		&.logo-title{
			width: 220px;
			height: 43px;
			background: #ee3643;
			text-align: center;
			padding-top: 7px;
			position: relative;
				&:before{
					content: "";
					display: inline-block;
					width: 220px;
					height: 5px;
					background: #b52933;
					position: absolute;
					left: 0;
					bottom: 0;
				}
				span{
					font-size: 24px;
					font-weight: bold;
					text-transform: uppercase;
					color: #fff;
				}
		}
}