// header
.topbar-wrapper{
	height: 43px;
	background: #293449;
		.logo-title{
			width: 220px;
			height: 43px;
			background: #ee3643;
			text-align: center;
			padding-top: 7px;
			font-family: 'cuprumbold';
			position: relative;
			float: left;
				&:before{
					content: "";
					display: inline-block;
					width: 220px;
					height: 5px;
					background: #b52933;
					position: absolute;
					left: 0;
					bottom: -5px;
				}
				a{
					display: inline-block;
					font-size: 24px;
					font-weight: bold;
					text-transform: uppercase;
					color: #fff;
				}
		}
		.search{
			float: left;
			font-family: 'cuprumregular';
			color: #fff;
			input[type="text"]{
				width: 230px;
			}
		}
		.purchases{
			float: left;
			width: 297px;
				.purchases-icons{
					margin-top: 12px;
					li{
						display: inline-block;
						font-size: 17px;
						margin-right: 10px;
						padding-right: 10px;
							a{
								color: #fff;
								font-family: 'cuprumregular';
							}
						}
				}
				
		}
		.shopping-block{
			padding-top: 7px;
			float: right;
			width: 150px;
			height: 43px;
			background: #63a63e;
			text-align: center;
				a{
					display: inline-block;
					color: #fff;
					font-size: 17px;
					font-family: 'cuprumregular';
				}
		}
}
.glyphicon{
	color: #6a7180;
	margin: 0 15px 0 15px;
}
.header-info{
	background: #f1f5f7;
	height: 159px;
		.textinfo{
			color: #ee3643;
			font-size: 16px;
			margin: 48px 0 0 45px;
			font-family: 'cuprumitalic';
		}
		.contacts{
			padding: 45px 81px 0 0;
			text-align: center;
			.phone{
				color: #e9292a;
				font-size: 21px;
				font-family: 'cuprumregular';
				border: 3px solid #fff;
			}
			.address{
				color: #32425c;
				font-size: 16px;
				font-family: 'cuprumregular';
				margin-top: 10px;

			}
			.login-signin{
				.login{
					a{
						font-size: 21px;
						font-family: 'cuprumregular';
						color: #000;
						width: 140px;
						height: 45px;
						background: #fff;
					}
				}
				.signin{
					a{
						font-size: 21px;
						font-family: 'cuprumregular';
						color: #000;
						width: 150px;
						height: 45px;
						background: #fff;
					}
				}
			}
			
		}
}
.header-menu{
	background: #32425c;
	position: relative;
	padding: 0 25px 0 25px;
	height: 60px;
	width: 940px;
	margin: 0 auto;
	li{
		display: inline-block;
		font-size: 17px;
		margin: 22px 26px 0 26px;
		a{
			color: #fff;
			font-family: 'cuprumregular';
			}
		}
	&:before{
		content: "";
		display: inline-block;
		width: 940px;
		height: 5px;
		background: #293449;
		position: absolute;
		left: 0px;
		bottom: 0px;
	}
}